* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav {
  background: linear-gradient(-120deg, #d62121, #3a1111, #c72c2c);
  height: 80px;
  width: 100%;
  position: relative;
}
h1 {
  color: black;
  font-size: 35px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 100px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: rgb(240, 226, 226);
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  font-weight: bold;
}
a.active,
a:hover {
  background: rgb(26, 26, 1);
  color: black;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: block;
    width: 100vw;
    height: 100vh;
    top: 80px;
    left: 0;
    text-align: center;
    background: linear-gradient(-120deg, #d62121, #3a1111, #c72c2c);
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 20px;
  }
  a.hover,
  a.active {
    background: none;
    color: yellow;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/*.main {
  background-color:;
}*/
p {
  text-align: center;
}
.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 50%;
}
.h {
  text-align: center;
  color: rgb(21, 255, 0);
  background-color: white;
}
.base {
  text-align: justify;
  padding: 3px;
  background-color: rgb(1, 18, 54);
  color: white;
}
.next {
  text-align: justify;
  padding: 3px;
  background-color: rgb(115, 128, 0);
  color: rgb(255, 255, 255);
}
.column {
  width: 33.33%;
  padding-right: 100px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.class {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}
